/* Estilo del contenedor de la sección */
.consultoriaEnUX-UIContainer {
    width: 100%;
    height: 2135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

/* Estilo para el titulo de la sección */
.consultoriaEnUX-UITitle {
    width: 100%;
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
    height: 55px;
    margin-bottom: 88px;
}

/* Contenedor del subtítulo de la sección */
.consultoriaEnUX-UISubtitleContainer {
    width: 100%;
    height: 435px;
    margin-top: 89px;
    margin-bottom: 80px;
    background: url(../../../img/consultoria-de-experiencia-de-usuario.png) lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Estilo del subtítulo de la sección */
.consultoriaEnUX-UISubtitle {
    width: 1560px;
    height: 55px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.55px;
}

/* Estilo del título de la subsección "Etapas" */
.etapasTitle {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 617px;
    height: 67px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px; 
}

/* Estilo del contenedor de las cards de la sección */
.etapasConsultoriaEnUX-UICardsContainer {
    width: 100%;
    height: 473px;
    display: flex;
    overflow-x: hidden; /* Ocultar la barra de desplazamiento por defecto */
    gap: 6px;
    box-sizing: border-box;
}

/* Mostrar la barra de desplazamiento al hacer hover */
.etapasConsultoriaEnUX-UICardsContainer:hover {
    overflow-x: auto; /* Mostrar la barra de desplazamiento al hacer hover */
}