/* Estilos para el contenedor de la sección */
.tecnicasDeEstudioDeUsabilidadContainer {
    width: 100%;
    height: 1171px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

/* Contenedor del título de la sección */
.tecnicasDeEstudioDeUsabilidadTitleContainer {
    width: 100%;
    height: 324px;
    margin-bottom: 99px;
    background: url(../../../img/tecnicas-de-estudios-de-usabilidad.png) lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Estilo del titulo de la sección */
.tecnicasDeEstudioDeUsabilidadTitle {
    width: 100%;
    height: 134px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
}

/* Estilo del texto de la sección */
.tecnicasDeEstudioDeUsabilidadText {
    width: 80%;
    height: auto;
    margin-bottom: 80px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Estilo del contenedor de las cards de la sección */
.tecnicasDeEstudioDeUsabilidadCardsContainer {
    width: 100%;
    height: 473px;
    display: flex;
    overflow-x: hidden; /* Ocultar la barra de desplazamiento por defecto */
    gap: 6px;
    box-sizing: border-box;
}

/* Mostrar la barra de desplazamiento al hacer hover */
.tecnicasDeEstudioDeUsabilidadCardsContainer:hover {
    overflow-x: auto; /* Mostrar la barra de desplazamiento al hacer hover */
}