.pruebausalab {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.pruebausalabtxt {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.pruebausalabtitle {
    width: 658px;
    height: 82px;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
}

.pruebausalabp {
    width: 687px;
    height: 409px;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}

.pruebausalabimg {
    width: 624px;
    height: 832px;
    flex-shrink: 0;
    border-radius: var(--Corner-Medium, 12px);
}

.pruebaslaboratorio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 138px;
}

.pruebaslaboratoriotitle {
    width: 312px;
    height: 132px;
    flex-shrink: 0;
    color: #090000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pruebaslaboratoriotxt {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.pruebaslaboratoriop {
    width: 941px;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pruebas1 {
    width: 1728px;
    height: 513.677px;
    flex-shrink: 0;
    object-fit: cover;
}

.usabilidad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 138px;
}

.usabilidadtitle {
    width: 311px;
    color: #0B0000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.usabilidadcont {
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.usabilidadp {
    width: 941px;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pruebas2 {
    width: 1728px;
    height: 484.571px;
    flex-shrink: 0;
    object-fit: cover;
}

.heuristica {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 137px;
}

.heuristicatitle {
    width: 313px;
    color: #0C0000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heuristicacont {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.heuristicap {
    width: 941px;
    height: 428px;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.requisitosp {
    display: flex;
}

.requisitosptitle {
    width: 606px;
    color: #0B0000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.requisitoss {
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requisitosstitle {
    width: 606px;
    color: #0B0000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*****Estilos para las tarjetas del svg UnU***********/
.contenedorTar
{
    display: flex;
    padding: 0px 132px 0px 132px;
    flex-direction: row;
}

.tarjeta
{
    display: flex;
    width: 448px;
    height: 624px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin: 0px 20px 0px 20px;
}

.tituloTar
{
    width: 100%;
    height: auto;
    display: block;
    flex-shrink: 0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    fill: rgba(72, 144, 176, 0.90);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Cambio de color uwu */
.tarjeta:hover path{
    fill: #A7C741;
}
.tarjeta path{
    width: 448px;
    transition: fill 0.3s ease-in-out;
}



.tituloTarTexto
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 430px;
}