/* CONTENEDOR DE LA VENTANA INVESTIGACIÓN */
.investigacion-window-container {
    display: flex;
    flex-wrap: wrap;
    /* width: 1728px; */
    gap: 160px;
}

@media (min-width: 1358px) and (min-height: 878px) {
    .investigacion-window-container {
        gap: 100px; /* Cambia el espacio entre elementos si lo deseas */
        max-width: 100%; /* Ajusta el ancho */
        overflow-y: hidden;
    }

    .carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
    display: block;
}



.descripcion-container {
    text-align: center;
    max-width: 800px; /* Opcional, para limitar el ancho del texto */
    margin: 0 auto; /* Centra el bloque horizontalmente */
    padding: 10px; /* Opcional, para mejorar la legibilidad */
}

}
