/* Estilo de la ventana "Servicios: Academia" */
.servicios-academia-window-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para el separador de la sección */
.separador-servicios-academia {
    margin-top: 153px;
    margin-bottom: 126px;
    width: 1295px;
    height: 2px;
    background: #D4D4D4;
}
@media (max-width: 1300px) {
.servicios-academia-container {
    max-width: 100%; /* Se asegurará de que no se desborden */
    width: 100%; /* Asegura que el elemento ocupe el 100% de su contenedor */
}
}