.ProximosEventosTitulo {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
}

.ProximosEventosContenedorTitulo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 0px;
}

.ContenedorProximosEventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 100%;
}

.ContenedorConferencias{
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
}

.ContenedorSubtituloConferencias{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.SubtituloConferencias{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/**********************************************/

/*         Conferencistas                   */

.contenedorConferencistas {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 95%;
}

.subtituloConferencistas {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contenedorSubtituloConferencistas {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 0px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 45vh;
    margin-top: 4rem;
    gap: 1rem;
}

/************************Estilo para el separador a final de la seccion *********************/

.separadorConferencias{
    width: 1320px;
    height: 2px;
    background: #DADADA;
    margin-top: 10rem;
}

@media (min-width: 1441px) and (max-width: 2560px) {
    .ProximosEventosTitulo {
        font-size: 5rem;
    }
    
    .SubtituloConferencias,
    .subtituloConferencistas {
        font-size: 4rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .ContenedorSubtituloConferencias,
    .ContenedorSubtituloConferencistas {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    
    .cards-container {
        height: auto;
        gap: 4rem;
        margin-top: 3rem;
    }

    .subtituloConferencistas,
    .SubtituloConferencias {
        font-size: 4rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ProximosEventosContenedorTitulo {
        margin-top: 0;
    }

    .ProximosEventosTitulo {
        font-size: 3rem;
    }

    .ContenedorSubtituloConferencias,
    .ContenedorSubtituloConferencistas {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .SubtituloConferencias,
    .subtituloConferencistas {
        font-size: 3rem;
    }

    .cards-container {
        height: 120vh;
        max-height: 50rem;
        gap: 3rem;
        margin-top: 2rem;
    }
}

@media (min-width: 375px) and (max-width: 430px) {
    .ProximosEventosContenedorTitulo {
        margin-top: 0;
    }

    .ProximosEventosTitulo {
        font-size: 2rem;
    }

    .SubtituloConferencias,
    .subtituloConferencistas {
        font-size: 1.8rem;
    }

    .ContenedorSubtituloConferencias,
    .contenedorSubtituloConferencistas {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .cards-container {
        height: 180vh;
        gap: 0rem;
        margin-top: 0.5rem;
    }
    
    .separadorConferencias {
        margin-top: 1rem;
    }
}