.ProximosEventosTitulo {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ProximosEventosContenedorTitulo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 0px;
}

.ContenedorProximosEventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 100%;
}

.ContenedorConferencias{
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
}

.ContenedorSubtituloConferencias{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.SubtituloConferencias{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/**********************************************/

/*         Conferencistas                   */

.contenedorConferencistas {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 95%;
}

.subtituloConferencistas {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contenedorSubtituloConferencistas {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 0px;
}
/************************Estilo para el contenedor de toda la subseccion conferencistas cards *********************/

.contenedorCardsEventos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 35vh;
    margin-top: 80px;
}

/************************Estilo para el separador a final de la seccion *********************/

.separadorConferencias{
    width: 1320px;
    height: 2px;
    background: #DADADA;
    margin-top: 160px;
}