.contenedorTalleres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.contenedorSubtituloTalleres{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 80px;
}

.subtituloTalleres{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/**********************************************/

/*        Talleristas                  */

.contenedorTalleristas {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 95%;
}

/* .contenedorTalleristas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
} */

.subtituloTalleristas {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contenedorSubtituloTalleristas {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 0px;
}
/************************Estilo para el contenedor de toda la subseccion conferencistas cards *********************/

/* .contenedorCards {
    position: relative;
    width: 1509px;
    height: 436px;
    margin-top: 80px;
    display: flex;
    gap: 37.91px;
} */

.contenedorCards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 35vh;
    margin-top: 80px;
}

/************************Estilo para el separador a final de la seccion *********************/

.separadorTalleres{
    width: 1320px;
    height: 2px;
    background: #DADADA;
    margin-top: 160px;
}