.contenedorTalleres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.contenedorSubtituloTalleres{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.subtituloTalleres{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/*        Talleristas                  */
.contenedorTalleristas {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 95%;
}

.subtituloTalleristas {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contenedorSubtituloTalleristas {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 0px;
}

/************************Estilo para el contenedor de toda la subseccion conferencistas cards *********************/
.contenedorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 45vh;
    margin-top: 4rem;
    gap: 1rem;
}

/************************Estilo para el separador a final de la seccion *********************/

.separadorTalleres{
    width: 1320px;
    height: 2px;
    background: #DADADA;
    margin-top: 160px;
}

@media (min-width: 1921px) {
    .subtituloTalleres,
    .subtituloTalleristas {
        font-size: 4rem;
    }
}

@media (max-width: 1440px) {
    .contenedorSubtituloTalleres,
    .contenedorSubtituloTalleristas {
        margin-top: 3rem;
    }
    
    .contenedorCards {
        height: 90vh;
        gap: 4rem;
        margin-top: 3rem;
    }
}

@media (max-width: 768px) {
    .contenedorSubtituloTalleres {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .subtituloTalleres,
    .subtituloTalleristas {
        font-size: 2rem;
    }

    .contenedorCards {
        gap: 1rem;
    }
}

@media (max-width: 400px) {
    .subtituloTalleres,
    .subtituloTalleristas {
        font-size: 1.5rem;
    }

    .contenedorSubtituloTalleres,
    .contenedorSubtituloTalleristas {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .contenedorCards {
        height: 180vh;
        gap: 0rem;
        margin-top: 0.5rem;
    }
}