.ultimos-eventos-container {
    display: flex;
    width: 95%;
    height: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.ultimos-eventos-title {
    width: 30%;
    padding-right: 70px;
}

.ultimos-eventos-title h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 2rem, 3rem);
    font-weight: bold;
}

.ultimos-eventos-cards {
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

.event-card {
    position: relative;
    width: 40%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
    flex-shrink: 0;
    border-radius: var(--Corner-Medium, 12px);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1.5rem 2rem 1.5rem;
}

.event-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(120, 135, 150, 0.25);
    z-index: 0;
    border-radius: 8px;
}

.event-card.card1 {
    background-image: url(../../../photos/hci.png);
    background-position: 65% 50%;
}

.event-card.card2 {
    background-image: url(../../../photos/chi1.png);
    background-position: 47% 50%;
}

.event-card.card3 {
    background-image: url(../../../photos/feria1.png);
    background-position: 47% 50%;
}

.title-event-card {
    color: #FFF;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.55px;
}

.title-event-card, .text-event-card{
    position: relative;
    z-index: 1;
}

.text-event-card {
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.85rem;
    font-style: normal;
    text-align: justify;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    background-color: rgba(255, 255, 255, 0.5);
}
