.ultimos-eventos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    /* border: red solid 5px; */
    /* box-sizing: border-box; */
}

.ultimos-eventos-title {
    width: 30%;
    /* border: solid purple 5px; */
}

.ultimos-eventos-title h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(40px, 3.5rem, 5vw);
    font-weight: bold;
}

.TituloUltimosEventos {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ContenedorTituloUltimosEventos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 0px;
}

.ContenedorUltimosEventos {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px; */
    width: 70%;
    margin: 0 auto;
    padding: 0;
    /* border: purple solid 5px; */
}

/************ Contenedor cards de los eventos ***************/
.eventosContainer {
    /* width: 1576px; */
    width: 100%;
    /* height: 832px; */
    height: 60vh;
    overflow-x: auto;
    scrollbar-width: none;
    /* margin-left: 152px; */
    /* margin-top: 80px; */
    display: flex;
    gap: 24px;
    /* right: 0; */
    /* border: orange solid 5px; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    overflow-x: auto;
    scrollbar-width: none; */
}

.scroll-container {
    display: inline-block;
}

/************* Tarjetas ultimos eventos *************/
.event-card {
    display: flex;
    /* width: 624px; */
    width: 40%;
    /* height: 832px; */
    height: 100%;
    flex-shrink: 0;
    border-radius: var(--Corner-Medium, 12px);
    background: rgba(94, 159, 186, 0.20);
    justify-content: center;
}

/***** Titulo de tarjeta ******/
.title-event-card {
    color: #FFF;
    font-family: Montserrat;
    /* font-size: 55px; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.55px;
}

.title-event-card2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.1px;
}

.title-event-card3 {
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.55px;
}

/*****Contenido de la tarjeta*****/
.text-event-card {
    color: #FFF;
    font-family: Montserrat;
    /* font-size: 32px; */
    font-size: 1rem;
    font-style: normal;
    text-align: justify;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
}

/****** Contenido de la tarjetas ******/
.content-event-card {
    /* width: 528px; */
    width: 100%;
    /* height: 184px; */
    /* height: 100%; */
    flex-shrink: 0;
}

#event1 {
    margin-top: 576px;
}

#event2 {
    margin-top: 504px;
}

#event3 {
    margin-top: 632px;
}

#event1-card {
    background: url("../../../photos/hci.png") lightgray -255.733px 0px / 197.619% 100% no-repeat;
}

#event2-card {
    background: url("../../../photos/chi1.png") lightgray -255.733px 0px / 197.619% 100% no-repeat;
}

#event3-card {
    background: url("../../../photos/feria1.png") lightgray -255.733px 0px / 197.619% 100% no-repeat;
}