/* Estilo del contenedor de la sección */
.incorporacionDeHciEnPlanesDeEstudioContainer {
    width: 1728px;
    height: 982px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 1300px) {
    .incorporacionDeHciEnPlanesDeEstudioContainer {
        width: 1000px; /* Se ajusta al ancho de la pantalla */
        height: 982px; /* Altura automática */
        flex-wrap: wrap; /* Permitir que los elementos se acomoden en varias líneas */
    }
}

/* Estilo del titulo de la sección */
.incorporacionDeHciEnPlanesDeEstudioTitle {
    margin-top: 111px;
    margin-bottom: 120px;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
}