/* Estilo para el contenedor de la secci칩n */
.objetivosDeLaIncorporacionDeHciContainer {
    width: 1728px;
    /* height: 2147px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo del titulo de la secci칩n */
.objetivosDeLaIncorporacionDeHciTitle {
    margin-top: 80px;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
}
@media (max-width: 1300px) {
    .objetivosDeLaIncorporacionDeHciTitle{
        width: 80%;
        text-align: left;/* Ajusta el margen para pantallas m치s peque침as */
    }
}
/* Estilo del conteedor de las cards de objetivos */
.cardsObjetivosContainer {
    margin-top: 80px;
    height: 1920px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}