/* Estilo de la Card de objetivos */
.objetivosDeLaIncorporacionDeHciCard {
    width: 1728px;
    height: 418px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

/* Estilo del titulo de la card */
.objetivosDeLaIncorporacionDeHciCardTitle {
    margin-top: 40px;
    margin-left: 113px;
    width: 670px;
    height: 134px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Estilo del texto de la card */
.objetivosDeLaIncorporacionDeHciCardText {
    margin-top: 80px;
    margin-left: 330px;
    width: 1079px;
    height: 124px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}